/NBPCGDataSupportLibrary/target/
/NBPCGFormSupportLibrary/target/
/NBPCGMySQL/target/
/NBPCGNodeSupportLibrary/target/
/NBPCGSupportLibrary/target/
/NBPCGTopComponentSupportLibrary/target/
/NBPCGIcons/target/
/target/
/nbpcgdatasupportlibrary/target/
/nbpcgformsupportlibrary/target/
/nbpcgicons/target/
/nbpcgmysql/target/
/nbpcgnodesupportlibrary/target/
/nbpcgsupportlibrary/target/
/nbpcgtopcomponentsupportlibrary/target/
/icons/target/
/common/target/
/topcomponent/target/
/form/target/
/data/target/
/mysql/target/
/node/target/
/annotations/target/
/remotedb/target/
/localdb/target/
/localdbIdkeyauto/target/
/localdbidkeyauto/target/
/json/target/
/api/target/
/localdatabaseaccess/target/
/remotedbclient/target/
/remoteclient/target/
/localjsonaccess/target/
/email/target/
/expressionparserandevaluate/target/
/lifecycle/target/
/simpleexpressionlanguage/target/
/auth/nbproject/private/
/auth/target/
/auth/nbproject/